extends layout

block content
    h1 Auction
    .gallery
        .gallery-item
            img(src="path/to/painting1.jpg" alt="Painting 1")
            p Title: Painting 1
            p Author: Author 1
            p Starting Price: $100
        .gallery-item
            img(src="path/to/painting2.jpg" alt="Painting 2")
            p Title: Painting 2
            p Author: Author 2
            p Starting Price: $200
        .gallery-item
            img(src="path/to/painting3.jpg" alt="Painting 3")
            p Title: Painting 3
            p Author: Author 3
            p Starting Price: $300
        .gallery-item
            img(src="path/to/painting4.jpg" alt="Painting 4")
            p Title: Painting 4
            p Author: Author 4
            p Starting Price: $400
        .gallery-item
            img(src="path/to/painting5.jpg" alt="Painting 5")
            p Title: Painting 5
            p Author: Author 5
            p Starting Price: $500
        .gallery-item
            img(src="path/to/painting6.jpg" alt="Painting 6")
            p Title: Painting 6
            p Author: Author 6
            p Starting Price: $600
